@import "../../../../utils/breakpoints.scss";

.mecha-nav {
  &.mecha-nav--pc {
    flex-direction: row;
    position: absolute;
    top: 10px !important;
    left: 10px;
    transform: none;
    z-index: 3;

    .mecha-nav__not-about {
      display: flex;
    }

    .mecha-nav__item {
      margin: 0;
      cursor: pointer;
      
      img {
        display: none;
      }

      &--about {
        margin: 0;
        
        img {
          display: none;
        }
      }
    }

    a.mecha-nav__item--about {
        cursor: pointer;
    }

    .nav-headline {
      font-size: 1.6rem;

      @include bp(md) {
        font-size: 30px;
        font-size: 1.8rem;
      }

      &--installation {
        // color: #10fdff;
      }
  
      &--generative {
        // color: #f21fd2;
      }
  
      &--design {
        // color: #f6ff2e;
      }
    }
  }
}
