@use "tools" as *;
@use "fonts" as *;
@use "projects" as *;
@import "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css";

img {
  display: block;
  width: 100%;
}

.project-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: fit-content;
  height: 100%;
  max-height: 85vh;
  margin-bottom: 20px;

  img {
    width: 100%;
    height: auto;
  }

  p {
    align-self: flex-start;
  }

  img + p {
    width: 100%;
    margin-top: 10px;
  }
}

.project-video {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  max-width: fit-content;
  height: 100%;
  max-height: 85vh;
  margin-bottom: 20px;

  @include bp(mob) {
    width: 100%;
    max-width: none;
    margin: 0;
  }

  video {
    width: 100%;

    & + p {
      width: 100%;
      margin-top: 10px;
    }
  }
}

// ————————————————————————————————————o————————————————————————————————————o Fifty 50 -->
// ———————————————————————————————————— Fifty 50 —>
.fifty-fifty {
  img {
    width: 100%;
    height: auto;
  }

  video {
    width: 100%;
    height: auto;
  }

  .project-img {
    width: 50%;
    width: calc(50% - 10px);
  }

  &--flex {
    display: flex;
    gap: 20px;
    height: 100%;
    padding-bottom: 20px;

    &:last-of-type {
      padding-bottom: 50px;
    }

    .project-img {
      justify-content: flex-start;
    }

    @include bp(mob) {
      flex-direction: column;
      gap: 10px;
      margin-bottom: 10px;

      .project-img {
        justify-content: flex-start;
        width: 100%;
        max-width: none;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 20px;
        }

        p {
          margin-bottom: 0;
        }
      }
    }
  }

  &--grid {
    display: grid;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    gap: 20px;

    @include bp(mob) {
      grid-template-columns: 100%;
    }

    .project-img {
      width: 100%;

      @include bp(mob) {
        margin: 0;
      }
    }
  }
}

.fifty-fifty__filler {
  width: 50%;
}

.sixty-forty {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 20px;
}

.mapboxgl-marker.static-card {
  // display: block;
  border: 1px solid #02ff87;
  opacity: 1;
  transition: opacity 0.8s;

  &.static-card--intro {
    z-index: 1;
    padding: 0;
    background-color: rgba(0, 22, 51, 1);
  }

  &.static-card--about {
    z-index: 1;
    padding: 0;
    border: 0;
    background-color: rgba(0, 22, 51, 1);
  }

  &.static-card--hidden {
    // display: none !important;
    opacity: 0;
    transition: opacity 0.8s;
  }

  h3 {
    margin-bottom: 10px;
    line-height: 1;
  }
}

.map-one .mapboxgl-popup {
  z-index: 2;
}

.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  display: none;
}

.mapboxgl-popup-close-button {
  display: none;
}

.map-one .project-modal .mapboxgl-popup-close-button {
  display: block;
  z-index: 3;
}

// ————————————————————————————————————o————————————————————————————————————o Intro + About -->
// ———————————————————————————————————— Intro + About —>
.project.project--intro {
  display: block;
  background-color: rgba(0, 22, 51, 0.4);
  opacity: 1;
  transition: opacity 0.8s;

  @include bp(mob) {
    width: 100%;
    height: 100vh;
  }

  &--hidden {
    opacity: 0;
    transition: opacity 0.2s;
  }

  &__object {
    width: 100%;
    height: 100%;
  }

  .static-card__object {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(2, 255, 135, 0.6);
  }

  &--about {
    border: 1px solid #02ff87;
    background-color: rgba(0, 22, 51, 0.4);
  }
}

// ————————————————————————————————————o————————————————————————————————————o Info Modals -->
// ———————————————————————————————————— Info Modals —>
.map-container {
  .info-card {
    display: block;
    width: 500px;
    padding: 10px 30px 15px;
    border: 1px solid #02ff87;
    background-color: rgba(0, 22, 51, 1);
    opacity: 1;
    transition: opacity 0.6s;
    z-index: 1;

    @include bp(mobOnly) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      padding: 30% 40px 15px 30px;
      transform: none !important;
      border: 0;
      background: black;
      // display: none;
    }

    &--hidden {
      opacity: 0;
      transition: opacity 0.2s;
    }

    h3 {
      margin-bottom: 5px;
      font-family: cholla-unicase, sans-serif;
      line-height: 1;
    }

    // ———————————————————————————————————— Intro —>
    &--intro.info-card {
      width: 95vw;
      height: 88vh;
      max-width: 1000px;
      max-height: 590px;
      padding: 0;
      background-color: rgba(0, 22, 51, 0.6);
      border: 1px solid rgba(2, 255, 135, 0.6);

      @include bp(xxs) {
        position: fixed;
        top: 50%;
        left: 50%;
        max-height: none;
        transform: translate(-50%, -50%) !important;
        padding: 20px;
      }
    }

    // ———————————————————————————————————— About —>
    &--about.info-card {
      padding: 60px 11px 30px;

      @include bp(mob) {
        background: transparent;
      }

      @include bp(xxs) {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
        width: 95vw;
        max-width: 1000px;
        padding: 20px;
      }

      .project--about {
        height: 100%;
        border: 1px solid #02ff87;
      }
    }

    @include bp(mob) {
      background-color: rgba(0, 22, 51, 0.9);
    }

    @include bp(mobOnly) {
      .mapboxgl-popup-close-button {
        display: block;
        width: 35px;
      }
    }

    @include bp(xxs) {
      position: static;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      top: auto;
      left: auto;
      transform: none;
      // width: 500px;
      // height: auto;
      padding: 10px 48px 28vh;
      background-color: rgba(0, 22, 51, 0.9);

      .mapboxgl-popup-close-button {
        display: none;
        top: 10px;
        right: 10px;
        width: 35px;
        padding: 0 0 2px;
      }
    }

    @include bp(xs) {
      max-width: 900px;
      padding: 10px 20px;
    }

    &--about {
      @include bp(xs) {
        top: 2%;
        width: 95vw;
        height: 83vh;
        height: auto;
        max-width: 1010px;
        max-height: 690px;
        padding: 20px;
        background-color: rgba(0, 22, 51, 0.6);
      }
    }

    .project--about {
      padding: 25px;
      background-color: rgba(0, 22, 51, 0.8);
    }
  }
}

// ———————————————————————————————————— Intro —>
.project--intro {
  width: 100%;
  height: 100%;
  border: 0;

  .intro {
    display: flex;
    justify-content: center;
    align-items: center;
    // position: absolute;
    // top: 0;
    // left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 2;
    // background-color: rgba(0, 22, 51, 0.5);
    pointer-events: none;

    @include bp(xs) {
      // padding: 20px;
    }

    h1 {
      margin: 13px auto 5px;
      // font-size: 2.66rem;
      line-height: 1;
    }

    h3 {
      margin-bottom: 20px;
      font-size: 1.8rem;
    }

    p {
      width: 100%;
      margin: 0;
      padding: 0 0 16px;
      // font-size: 1.2rem;
      font-weight: 400;
      letter-spacing: 1px;
      line-height: 1.5;

      &:first-of-type {
        margin-bottom: 10px;
      }

      &:last-child {
        padding: 0;
      }
    }

    @include bp(mob) {
    }

    &__inner {
      // overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 100%;
      // max-width: 1000px;
      // margin: 16px 0;
      padding: 80px 30px;
      background-color: rgba(0, 22, 51, 0.8);
      pointer-events: auto;

      @include bp(xxs) {
        padding: 40px 20px;
        border: 1px solid #02ff87;
      }

      @include bp(xs) {
        padding: 60px 70px;
      }

      @include bp(md) {
      }

      @include bp(lg) {
        padding: 5%;
      }
    }

    .logo-mechaneyes {
      position: relative;
      width: 180px;
      height: auto;
      margin: 0 auto;
      left: auto;
      transform: none;

      @include bp(xxs) {
        width: 190px;
        margin: 0 auto 8px;
      }
    }
  }
}

// ————————————————————————————————————o————————————————————————————————————o Project Modals -->
// ———————————————————————————————————— Project Modals —>
.map-one .project-modal {
  // pointer-events: none;
  overflow-x: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 90vh;
  margin-top: 20px;
  padding: 0;
  color: white;
  border: 1px solid #02ff87;
  background-color: rgba(0, 22, 51, 1);

  @include bp(mob) {
    overflow-y: scroll;
    top: 0;
    left: 0;
    transform: none;
    width: 100vw;
    // height: 100vh;
    // height: 100%;
    height: -webkit-fill-available;
    height: 100vh;
    margin: 0;
    border: 0;

    .mapboxgl-popup-close-button {
      width: 35px;
      padding: 0 0 2px;
    }
  }

  .project-iframe {
    width: 100%;
    height: 100%;
    padding: 0;
    border: 2px solid #0876fc;
    border: none;
  }

  object {
    width: 100%;
    height: 100%;
  }

  .mapboxgl-popup-close-button {
    top: 20px;
    right: 21px;
  }
}
