@import url("https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css");

:root {
  --height: 100vh;
}

html,
body {
  height: calc(var(--height) - 1px);
  overflow: hidden;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: black;

  * {
    box-sizing: border-box;
  }
}

.map-one {
  width: 100vw;
  height: 100vh;
}

.map-container {
  width: 100vw;
  // height: 100vh;
  height: var(--height);
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 90vh;
  // padding: 100px;
  border: 1px solid white;
  background-color: rgba(0, 22, 50, 0.9);
  background-color: rgba(0, 0, 0, 0.85);
  background-color: #001024e8;
  z-index: 1;
  display: none;

  &--hidden {
    display: none;
  }

  img {
    width: 555px;
    height: 420px; // pierrerougemont animation @ height: 555px
    height: 555px;
    padding-top: 60px;
  }

  h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 30px;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
  }
}

.logo-mechaneyes {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 70%;
  // filter: invert(68%) sepia(98%) saturate(1478%) hue-rotate(95deg)
  //   brightness(103%) contrast(108%);
}

.hp-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  top: 29vh;
  left: 50%;
  transform: translateX(-50%);
  height: 400px;
  z-index: 1;
  //   border: 1px solid pink;

  &__item {
    display: grid;
    grid-template-columns: 55px 1fr;
    gap: 15px;
    align-items: center;
    margin-bottom: 15px;

    img {
      width: 100%;
    }
  }

  .nav-headline {
    margin: 0;
    padding-bottom: 5px;
    font-size: 40px;
    line-height: 1;

    &--phototograpy {
      color: #ff1d4d;
    }

    &--programming {
      color: #14f267;
    }

    &--installation {
      color: #10fdff;
    }

    &--generative {
      color: #f21fd2;
    }

    &--design {
      color: #f6ff2e;
    }
  }
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  // height: 100%;
  height: var(--height);
  background: rgb(0, 18, 37);
  background: linear-gradient(
    0deg,
    rgba(0, 18, 37, 0.4) 38%,
    rgba(0, 18, 37, 0.4) 60%,
    rgba(0, 18, 37, 0) 100%
  );
  pointer-events: none;
}

#info {
  display: table;
  position: relative;
  margin: 0px auto;
  word-wrap: anywhere;
  white-space: pre-wrap;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  color: #222;
  background: #fff;
}
