@import "../../../styles/tools.scss";

.mecha-nav {
  display: none;
  flex-direction: row;
  justify-content: flex-start;
  position: absolute;
  top: 10px !important;
  left: 10px;
  z-index: 1;
  transform: none;

  @include bp(mob) {
    h2 {}
  }

  @include bp(mid) {
    display: flex;
  }

  &__not-about {
    display: flex;
  }

  .mecha-nav__item {
    display: flex;
    justify-content: center;
    margin: 0 5px 0;
    padding: 5px 12px;
    cursor: pointer;
    border: 1px solid #00fd70;
    border-radius: 32px;
    background: #001633;
    transition: all 0.2s ease-in-out;

    &--active {
      // border-color: white;
    }

    &--title {
      border-color: #0876fc;
    }

    &:hover {
      border-color: white;
      transition: all 0.2s ease-in-out;

      h2 {
        color: white;
        transition: all 0.2s ease-in-out;
      }
    }
  }

  a.mecha-nav__item--about {
    cursor: pointer;
  }

  .nav-headline {
    margin: 0;
    font-size: 1.4rem;
    font-size: 1.25rem;
    color: #00fe70;
    transition: all 0.2s ease-in-out;

    @include bp(md) {
      font-size: 1.3rem;
    }

    &:hover {
      color: white;
      transition: all 0.2s ease-in-out;
    }

    &--active {
      color: white;
      transition: all 0.2s ease-in-out;
    }

    &--title {
      color: white;
    }

    &--mechaneyes {
      &:hover {
        color: #00fe70;
      }
    }
  }
}
