.hamburger-trigger {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 3;
  width: 40px;
  height: auto;
  filter: invert(73%) sepia(50%) saturate(995%) hue-rotate(90deg)
    brightness(98%) contrast(105%);
}

.hamburger {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 80px;
  padding-left: 45px;
  z-index: 2;
  background-color: rgba(0, 18, 37, 0.85);

  &--hidden {
    display: none;
  }

  &__item {
    display: grid;
    grid-template-columns: 55px 1fr;
    gap: 15px;
    align-items: center;
    margin-bottom: 20px;

    img {
      width: 100%;
    }
  }

  h2 {
      margin: 0;
  }

  &-headline {
    padding-bottom: 5px;
    font-size: 40px;

    &--phototograpy {
      color: #ff1d4d;
    }

    &--programming {
      color: #14f267;
    }

    &--installation {
      color: #10fdff;
    }

    &--generative {
      color: #f21fd2;
    }

    &--design {
      color: #f6ff2e;
    }
  }
}
