body {
  margin: 0;
  font-family: cholla-wide, sans-serif;
  font-weight: 700;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  margin: 0;
  font-family: cholla-unicase, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 40px;
}

h2 {
  font-family: cholla-unicase, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
  margin: 15px 0;
  font-family: cholla-wide, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
}

p {
  margin-top: 0;
  font-family: cholla-sans, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 24px;
}
