@import url("https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css");
@import "../../styles/breakpoints.scss";

:root {
  --height: 100vh;
}

// lock ios location bar in place, killing scroll
// https://pqina.nl/blog/how-to-prevent-scrolling-the-page-on-ios-safari/
// 
html,
body {
  overflow: hidden;
  color: white;
  background-color: black;

  @include bp(mob) {
    height: calc(var(--window-inner-height) - 1px);
  }
}

.map-one {
  width: 100vw;
  height: 100vh;
  
  // Detect if iOS
  // https://gist.github.com/codearryaas/d6bc868d9f545b7d658235128fb595af
  // 
  @include bp(mob) {
    position: relative;
    height: -webkit-fill-available;
  }

  .mecha-nav {
    top: 60%;
  }
}

.map-container {
  width: 100vw;
  height: var(--height);

  @include bp(mob) {
    height: 100%;
  }
}

.nav-visible {
  visibility: visible;

  &--hidden {
    visibility: hidden;
  }
}

.title-mechaneyes {
  display: block;
  position: absolute;
  top: 9px;
  left: 65px;
  margin: 0;
  font-size: 40px;
  color: #14f267;
  opacity: 1;
  z-index: 2;
  transition: opacity 1s;

  &--hidden {
    opacity: 0;
    transition: opacity 1s;
  }
}

// .logo-mechaneyes {
//   position: absolute;
//   top: 7%;
//   left: 50%;
//   transform: translateX(-50%);
//   z-index: 1;
//   width: 65%;
//   opacity: 1;
//   transition: opacity 0.5s;

//   &--hidden {
//     // opacity: 0;
//     // transition: opacity 0.5s;
//     display: none;
//   }

//   &.enter {
//     opacity: 1;
//   }
  
//   &.enter-active {
//     opacity: 1;
//     transition: opacity 500ms;
//   }
  
//   &.enter-done {
//     opacity: 0;
//   }
  
//   &.exit {
//     opacity: 0;
//   }
  
//   &.exit-active {
//     opacity: 0;
//     transition: opacity 500ms;
//   }
  
//   &.exit-done {
//     opacity: 0;
//     transition: opacity 500ms;
//   }
// }

.gradient-overlay {
  display: block;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  // height: 100%;
  height: var(--height);
  background: rgba(0, 18, 37, 0.3);
  // background: linear-gradient(
  //   0deg,
  //   rgba(0, 18, 37, 0.4) 8%,
  //   rgba(0, 18, 37, 0.2) 70%,
  //   rgba(0, 18, 37, 0.1) 100%
  // );
  opacity: 1;
  transition: opacity 0.4s;
  pointer-events: none;

  &--hidden {
    opacity: 0;
    transition: opacity 0.4s;
  }
}

.mausOverlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 90vh;
  // padding: 100px;
  border: 1px solid white;
  background-color: rgba(0, 22, 50, 0.9);
  background-color: rgba(0, 0, 0, 0.85);
  background-color: #001024e8;
  z-index: 1;
  display: none;

  &--hidden {
    display: none;
  }

  img {
    width: 555px;
    height: 420px; // pierrerougemont animation @ height: 555px
    height: 555px;
    padding-top: 60px;
  }

  h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 30px;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
  }
}

.about-overlay {
  display: block;

  &--hidden {
    display: none;
  }
}

#info {
  display: table;
  position: relative;
  margin: 0px auto;
  word-wrap: anywhere;
  white-space: pre-wrap;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  color: #222;
  background: #fff;
}

// .marker {
//   // background-image: url("targetLeinad.png");
//   background-color: black;
//   background-size: cover;
//   width: 50px;
//   height: 50px;
//   border-radius: 50%;
//   cursor: pointer;

//   &--dev {
    
//   }
// }
