@import url("https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css");
@import "../../utils/breakpoints.scss";

body {
  color: white;
  background-color: #010f1e;
}

.mapboxgl-ctrl-bottom-right {
  display: none;
}

.map-one {
  width: 100vw;
  height: calc(100vh - 50px);

  @include bp(md) {
    // margin-top: 50px;
  }

  button {
    // display: none;
  }

  .mapboxgl-popup {
    transform: none !important;
    width: 100vw;
    height: 100vh;
    max-width: none !important;
  }

  .mapboxgl-popup-content {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
  }

  // ————————————————————————————————————o————————————————————————————————————o Project Modals -->
  // ———————————————————————————————————— Project Modals —>
  .project-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 90vh;
    margin-top: 20px;
    padding: 0;
    color: white;
    border: 1px solid #02ff87;
    background-color: rgba(0, 22, 51, 0.95);

    .project-iframe {
      width: 100%;
      height: 100%;
      padding: 0;
      border: 2px solid #0876fc;
      border: none;
    }

    object {
      width: 100%;
      height: 100%;
    }
  }

  .mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip {
    display: none;
  }

  .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    display: none;
  }

  .mapboxgl-popup-close-button {
    top: calc(5vh + 10px);
    right: 5vw;
    font-size: 35px;
    color: #02ff87;
    outline: 0;
  }
}

.map-container {
  width: 100%;
  // margin-top: 45px;

  @include bp(md) {
    margin-top: 0;
  }
}

.mapboxgl-marker.marker {
  top: -31px;
  width: 42px;
  height: 60px;
  // CSS filter generator to convert from black to target hex color
  // https://codepen.io/sosuke/pen/Pjoqqp
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(213deg)
    brightness(105%) contrast(101%);
  background-size: cover;
  cursor: pointer;
}

// ————————————————————————————————————o————————————————————————————————————o Info Cards -->
// ———————————————————————————————————— Info Cards —>
.map-container {
  .info-card {
    display: block;
    width: 500px;
    height: 30vh;
    padding: 20px;
    border: 1px solid #02ff87;
    background-color: rgba(0, 22, 51, 0.8);
    opacity: 1;
    transition: opacity 0.8s;

    &--hidden {
      // display: none;
      opacity: 0;
      transition: opacity 0.2s;
    }

    &__object {
      width: 100%;
      height: 100%;
    }

    &--programming {
      // width: 460px;
      height: 270px;
    }
  }
}

// ————————————————————————————————————o————————————————————————————————————o Static Cards -->
// ———————————————————————————————————— Static Cards —>
.mapboxgl-marker.static-card {
  display: block;
  width: 95vw;
  height: 80vh;
  max-width: 1010px;
  max-height: 690px;
  padding: 20px;
  background-color: rgba(0, 22, 51, 0.8);
  opacity: 1;
  transition: opacity 0.8s;

  &--hidden {
    opacity: 0;
    transition: opacity 0.2s;
  }

  &__object {
    width: 100%;
    height: 100%;
  }

  .static-card__object {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(2, 255, 135, 0.6);
  }

  &--about {
    border: 1px solid #02ff87;
    background-color: rgba(0, 22, 51, 0.4);
  }

  &--mechaneyes {
    border: 1px solid #02ff87;
  }
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 90vh;
  // padding: 100px;
  border: 1px solid white;
  background-color: rgba(0, 22, 50, 0.9);
  background-color: rgba(0, 0, 0, 0.85);
  background-color: #001024e8;
  z-index: 1;
  display: none;

  &--hidden {
    display: none;
  }

  img {
    width: 555px;
    height: 420px; // pierrerougemont animation @ height: 555px
    height: 555px;
    padding-top: 60px;
  }

  h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 30px;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
  }
}
