@import url("https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css");
@import "../../utils/breakpoints.scss";
@import "../../utils/modals.scss";

body {
  color: white;
  background-color: #010f1e;
}

.mapboxgl-ctrl-bottom-right {
  display: none;
}

.map-container.mapboxgl-map {
  position: absolute;
  top: 0;
}

.map-one {
  width: 100vw;
  height: calc(100vh - 50px);

  @include bp(md) {
    // margin-top: 50px;
  }

  button {
    // display: none;
  }

  .mapboxgl-popup {
    transform: none !important;
    width: 100vw;
    height: 100vh;
    max-width: none !important;

    @include bp(mob) {
      z-index: 2;
      height: -webkit-fill-available;
    }
  }

  .mapboxgl-popup-content {
    position: relative;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    transition: opacity 0.5s;
    background-color: transparent;

    @include bp(mob) {
      height: -webkit-fill-available;
      height: 100%;
    }

    &.mapboxgl-popup-content--hidden {
      opacity: 0;
      transition: opacity 0.5s;
    }
  }

  @include bp(mob) {
    .mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
      display: none;
    }
  }

  .mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip {
    display: none;
  }

  .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    display: none;
  }

  .mapboxgl-popup-close-button {
    // top: calc(20px + 7.5vh);
    top: 20px;
    right: 20px;
    width: 35px;
    height: 35px;
    font-size: 35px;
    color: #02ff87;
    line-height: 0;
    outline: 0;
    border: 1px solid #02ff87;
    background-color: #001634;
    transition: all 0.2s;
    z-index: 1;

    &:hover {
      color: #001634;
      background-color: #02ff87;
      transition: all 0.2s;
    }

    @include bp(mob) {
      height: 35px;
      top: 12px;
      right: 12px;
    }
  }
}

.map-container {
  width: 100%;
  // margin-top: 45px;

  @include bp(md) {
    margin-top: 0;
  }
}

.mapboxgl-marker.marker {
  top: -31px;
  width: 42px;
  height: 60px;
  // CSS filter generator to convert from black to target hex color
  // https://codepen.io/sosuke/pen/Pjoqqp
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(213deg)
    brightness(105%) contrast(101%);
  background-size: cover;
  cursor: pointer;
}

// .overlay {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   width: 90vw;
//   height: 90vh;
//   // padding: 100px;
//   border: 1px solid white;
//   background-color: rgba(0, 22, 50, 0.9);
//   background-color: rgba(0, 0, 0, 0.85);
//   background-color: #001024e8;
//   z-index: 1;
//   display: none;

//   &--hidden {
//     display: none;
//   }

//   img {
//     width: 555px;
//     height: 420px; // pierrerougemont animation @ height: 555px
//     height: 555px;
//     padding-top: 60px;
//   }

//   h2 {
//     font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
//     font-size: 30px;
//     color: white;
//     font-weight: 400;
//     letter-spacing: 1px;
//   }
// }
